/* https://ui-router.github.io/ng1/tutorial/helloworld#active-link */
// state based class to indicate which state is currently active
.active {
  background-color: red; font-weight: bolder;
}
// border the three main areas to help delineation
div#the-container nav {
  background-color: red;
}
div#the-container div#big-div {
  background-color: lightblue;
}
div#the-container footer {
  background-color: grey;
}
.flex-100-wide {
  width: 100%;
}

.bg-light-bluish {
  background-color: rgb(118, 159, 226);
}
