/* https://ui-router.github.io/ng1/tutorial/helloworld#active-link */
// state based class to indicate which state is currently active
.active {
  background-color: red; font-weight: bolder;
}
div#the-container {
  justify-content: center;
  height: 100vh;
  min-height: 100vh;

}
div#big-div{
  min-height: 67vh;
  max-width: 75vw;
  margin-top: 0;
}
div#big-div, div#the-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div#the-container div#big-div {
  background-color: lightblue;
}

.flex-100-wide {
  width: 100%;
}

.bg-light-bluish {
  background-color: rgb(118, 159, 226);
}

.dis-flex {
  display: flex;
}
span#title, .x-center{
  justify-content: center;
}
span#title {
  max-height: 80px;
}
